    body {
        background-color: #121420 ; 
        font-family: Helvetica; 
        color:white;
        };
    p { 
        margin-left: 3em
    };
    h1    {color: red; 
           text-align: center ; 
           font-size: 3em;}
    
    h1,p{ container: 56px};
    img {   align:center};

    h2 {
        margin-top: 5%;
        display: flex;
        font-size: 1.5em;  
        text-align: justify;   
        display: flex;
        font-size: 1.5em; 
    }

    a{
        /* text-decoration: line-through; */
        color: red;
    }
    
    .center {
        display: auto;
        margin-left: auto;
        margin-right: auto;
        /* margin-top: 5%; */
        width: 10%;
    }

    #intro{
        width: 30%;
        display: flex;
    }

    


    .intro{
        font-weight: 200;
        margin-left: 5%;
    }

    .lsm{
        display: inline;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        
    }

    #shirt{
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        width: 100% ;
    }

    #price{
        margin: auto;
        width: 50%;
        /* border: 3px solid green; */
        padding: 10px;
        text-align: center;
    }

    #copywrite{
        display: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        /* width: 50%; */
        
    }

    #logo{
        text-align: right;
        font-weight: 3em;
    }

    /* header */
    #header{
        font-size:60%;
    }

    #darkmode{
        scale: 10%;
    }

    .button {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }

    #sss{
        width: 100%;
    }



