    body {
        background-color: white ; 
        font-family: Helvetica; 
        };
    p { 
        margin-left: 3em
    };
    h1    {color: red; 
           text-align: center ; 
           font-size: 3em;}
    
    h1,p{ container: 56px};
    img {   align:center};

    h2 {
        margin-top: 5em;
        display: flex;
        font-size: 1.5em;       
    }
    
    .center {
        display: auto;
        margin-left: auto;
        margin-right: auto;
        /* margin-top: 5%; */
        width: 10%;
    }

    #intro{
        width: 30%;
        display: flex;
    }

    
    h2 {
        margin-top: 5em;
        display: flex;
        font-size: 1.5em;       
    }

    .intro{
        font-weight: 200;
    }

    .lsm{
        display: inline;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        
    }

    #shirt{
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        width: 100% ;
    }

    #price{
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
        text-align: center;
    }



